<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<table>
    <tbody>
        <tr  style="border: 2px solid #0070c0; padding:10px;">
            <td>
            <p style="text-align: justify;padding: 10px;margin: 0;"><span style="background: white; font-size: 14px; font-family: Arial; color: #0070c0;"><b>Anaferon for children – hiệu quả điều trị và phòng ngừa cảm cúm. Anaferon for children sử dụng trong các trường hợp nhiễm trùng bội nhiễm,với 2 cơ chế tác động: hạn chế sự nhân lên của virus và kích hoạt hệ thống miễn dịch. Cả hai cơ chế hỗ trợ giúp trẻ nhanh chóng hồi phục bệnh &nbsp;</b></span></p>
            </td>
            <td>&nbsp;<img alt="" src="/Uploads/Image/1a9b7cade8ea1dd76b7daff5c35411da.png" style="width: 150px;"></td>
        </tr>
    </tbody>
	</table>
</body>
</html>